<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sabrinsky Festival</title>
        <meta name="keywords" content="Sabrinsky">
        <meta name="description" content="Sabrinsky">

        <meta charset="utf-8" />
        <link type="text/plain" rel="author" href="{{base_url()}}assets/humans/humans.txt" />
        <meta name="google-site-verification" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="manifest" href="{{base_url()}}assets/js/manifest.json">
        <meta name="mobile-web-app-capable" content="no">

        <!--____________________________________________________________Css____________________________________________________________-->
        <link rel="icon" href="{{base_url()}}assets/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{base_url()}}assets/css/core.min.css" type="text/css" />
        <link rel="stylesheet" href="{{base_url()}}assets/css/carrousel.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
        <!--______________________________________________________End Css__________________________________________________________-->
    </head>
    <body style="background-image: url({{base_url()}}assets/images/Fondo.jpg);">
        {% import '_tools/navigation.twig' as nav %}  
        {% import '_tools/UIelement.twig' as ui %}  

        <section style="background-image: url({{base_url()}}assets/images/Fondo.jpg);width: 100%;display: block;background-position: center;background-size: cover;background-repeat: no-repeat;margin-top: 0;height: auto;overflow: hidden;border-bottom:3px double #DBA901">
            <section class="small-12 medium-4 large-2 columns header__logotipo" style="text-align:center;">
                <a href="{{base_url()}}">
                    <img src="{{base_url()}}assets/images/icono.png" title="" style="max-height:30vh;margin: 1rem 0"/>
                    <img src="{{base_url()}}assets/images/logotipo.png" title="" style="height:30vh;left:30%;top:2%;position:absolute"/> 
                </a>
            </section>
            <section class="small-12 medium-8 large-10 columns header__languaje" style="top:0">
                <article style="float:right">
                    <span style="color:white">{{lang("IDIOMA")}}</span>
                    <a href="">
                        <img src="{{base_url()}}assets/images/circulo.png" title="" style="height:2rem"/>
                    </a>
                    <a href="">
                        <img src="{{base_url()}}assets/images/circulo.png" title="" style="height:2rem"/>
                    </a>
                    <a href="">
                        <img src="{{base_url()}}assets/images/circulo.png" title="" style="height:2rem"/>
                    </a>

                </article>

            </section>

        </section>

        {{ nav.principal_nav()}}
        {{ ui.section()}}
        <br>
        {{ ui.section_test()}}
    </body>