{% macro principal_nav(menu)%}
    <section class="small-12 medium-12 large-12 columns header__navigation" style="position: relative;margin-top: -15px;float:left; z-index: 100;padding:0" style="background-image: url({{base_url()}}assets/images/Fondo.jpg);" >
            <nav>
                <ul style="list-style:none;" id="myMenu" >
                    {% for item in menu %}
                        <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;background-image: url({{base_url()}}assets/images/Fondo.jpg);" data-menuanchor="{{lang(item)}}" >
                        <a href="#{{lang(item)}}" id="botonProgreso" class="boton-activo" >
                            <span >
                                {{lang(item)}}
                            </span>
                        </a>
                    </li>
                    {% endfor%}
                    
                </ul>
            </nav>
</section>    
    {% endmacro%}