{% macro principal_nav()%}
    <section class="small-12 medium-8 large-12 columns header__navigation" style="position: relative;margin-top: -75px;float:left;">
        <article class="medium-4 large-2 columns">

        </article>
        <article class="small-12 medium-8 large-10 columns">
            <nav class="" >
                <ul style="list-style:none;">
                    <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;" >
                        <a href="index.php/Front/principal" id="botonProgreso" class="boton-activo">
                            <span >
                                {{lang("FESTIVAL")}}
                            </span>
                            <!--CONVOCATORIA-->
                            <!--CORTOMETRAJES(FORMULARIOS)-->
                            <!--TEASER(FORMULARIOS)-->
                            <!--PARTICIPACIONES-->
                            <!--CORTOMETRAJES-->
                            <!--TEASER-->
                            <!---->
                        </a>
                    </li>
                    <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;" >
                        <a href="index.php/Front/principal" id="botonProgreso" class="boton-activo">
                            <span >
                                
                                {{lang("TALENTO SABRINSKY")}}
                            </span>
                        </a>
                    </li>
                    <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;" >
                        <a href="index.php/Front/principal" id="botonProgreso" class="boton-activo">
                            <span >
                                
                                {{lang("CINE AL AIRE")}}
                            </span>
                        </a>
                    </li>
                    <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;" >
                        <a href="index.php/Front/principal" id="botonProgreso" class="boton-activo">
                            <span >
                                
                                {{lang("BICINEMA")}}
                            </span>
                        </a>
                    </li>
                    <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;" >
                        <a href="index.php/Front/principal" id="botonProgreso" class="boton-activo">
                            <span >
                                {{lang("SABRINSKY BLOGS")}}
                            </span>
                        </a>
                    </li>
                    <li style="float:left; padding: 1em 1.3333em; border: 1px groove #DBA901;" >
                        <a href="index.php/Front/principal" id="botonProgreso" class="boton-activo">
                            <span >
                                {{lang("QUIENES SOMOS")}}
                            </span>
                            <!--MISION Y VISION-->
                        </a>
                    </li>
                </ul>
            </nav>
        </article>
</section>    
    {% endmacro%}